body,.text{margin:100px; padding:80px;
  text-align:justify;
  font-size:14pt;
  line-height:40px;
  position:relative;}
			header{line-height:15px;line-height:50px;}
			h1{top-margin:20px;margin-left:auto;margin-right:auto;font-size:26pt;text-align:center;font-family:helvetica;font-weight:bold;line-height:40px;line-height:50px;}